input:invalid{
    border: 2px solid red;
}
.input_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

fieldset{
    padding: 0.5rem;
    margin: 1rem;
    background-color: #ccc;
    border: 1px solid white;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="color"] {
    padding: 0px;
    height: 2rem;
    width: 2rem;
    display: block;
    border: 1px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor:pointer;
}

input[type="submit"]{
    cursor:pointer;
    margin: 16px;
    padding: 0.25rem;
    background-color: rgb(56, 201, 37);
    width: calc(100% - 32px);
    border: 1px solid white;
    border-radius: 0.25rem;
    line-height: 2rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

input[type="submit"]:hover{
    background-color: rgb(56, 211, 35);
}
input[type="submit"]:active{
    background-color: rgb(53, 189, 35);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2)
}
