header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
}
#formHere{
    width: 30%;
    display: flex;
    flex-direction: column;
}
#tableHere{
    width: 70%;
    height: 100vh;
}

footer{
    margin-top: auto;
    background-color: #ddd;
    padding: 1rem;
}